header {
  width: 83%;
  height: 15vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: white;
  padding: 0px 20px;

  .logo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .main-menu {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0;

    ul {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0;

      li {
        list-style-type: none;
        font-family: Nunito, sans-serif;
        color: #424242;
        font-size: 18px;
        font-weight: 700;
        margin: 0;
        transition: all 0.5s ease;
        cursor: pointer;
        &:hover {
          color: #f04336;
        }
      }

      a {
        list-style-type: none;
        font-family: Nunito, sans-serif;
        color: #424242;
        font-size: 18px;
        font-weight: 700;
        margin: 0;
        text-decoration: none;
        transition: all 0.5s ease;
        &:hover {
          color: #f04336;
        }
      }
    }
  }

  .icons {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .iconsinn {
      display: flex;

      a {
        list-style-type: none;
        font-family: Nunito, sans-serif;
        color: #424242;
        font-size: 18px;
        font-weight: 700;
        margin: 0px 0px 0px 20px;
        padding: 0;
        text-decoration: none;
        display: flex;
        transition: all 0.5s ease;
        position: relative;
      }
      span {
        width: 20px;
        height: 20px;
        display: flex;
        font-size: 14px;
        background-color: #f04336;
        color: white;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        right: 10px;
        top: -5px;
        position: relative;
      }

      &:hover {
        color: #f04336;
      }
      svg {
        width: 26px;
        height: 30px;
        position: relative;
        margin-left: 5px;
        transition: all 0.1s;

        &:hover {
          transform: rotate(10deg);
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  header {
    height: auto;
    .logo {
      justify-content: center;
    }
    .icons {
      justify-content: center;
    }
  }
}

@media screen and (max-width: 768px) {
  header {
    height: auto;
    .logo {
      justify-content: center;
    }
    .icons {
      justify-content: center;
    }
  }
}
